@charset "ISO-8859-1";

.middle ul li a{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	
}

img.gif{
width:100px;
height:45px;

}

img {
	width: 30px;
	
	margin-left: 40px;
	margin-right: 1px;
	height: 30px;
}

img.image{
	width:100%;
	height:350px;
	margin-left:1px;

}
.middle li:hover {
	background: none;
	border-radius: 6px;
}
.TopEmployer{
position: absolute;
    top: 127%;
    left: 2%;
    
    
}

.TopEmployer .bannerlist {
	margin:0;
	background-color:#fff;
	border:1px solid #ebf0f6;
	border-radius:4px;
	width:auto;
	-webkit-box-align:center;
	align-items:center;
	-webkit-box-pack:center;
	justify-content:center;
	overflow:auto;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	flex-direction:column;
	
   
    padding:15px;
   
   
    
	
}

#vertimg{
	width:80px;
	margin-left:3px;
	overflow:hidden;
}

li.banneritem{
	margin-right:unset;
}


.list{
	display:flex;
	flex-direction:vertical;
	justify-content:center;
	align-items:flex-end;
	
	
}